.vscode
.idea
logs/*
ckpt/*
**__pycache__
tmp
.docker_home
.python_userbase

data/p2mpp_models.tar.gz
data/p2mppdata.7z.001
data/p2mppdata.7z.002
data/p2mppdata.7z.003

ShapeNet/
ShapeNetImages/
p2mppdata/