.vscode
.idea
logs/*
ckpt/*
**__pycache__
tmp
.docker_home
.python_userbase

# Build and benchmark logs
**/*.log
*.log

data/p2mpp_models.tar.gz
data/p2mppdata.7z.001
data/p2mppdata.7z.002
data/p2mppdata.7z.003

ShapeNet/
ShapeNetImages/
ShapeNetRendering/
p2mppdata/

# Mesh files
*.obj
*.ply
*.off
*.stl
*.mesh
*.xyz

# Output directories
outputs/designA/eval_meshes/
outputs/designB/